* {
    margin: 0px;
    font-family: "inter";
}


#logo {
margin-left: 50px;
margin-top: 50px;
}


#tíitulo-menusuperior {
    margin-left: 150px;
    margin-top: 75px;
}

#texto-menusuperior {
    margin-left: 150px;
    margin-top: 50px;
    padding-bottom: 100PX;
}

#menusuperior {
    background-image: url(./imagens/fundo-menusuperior.svg);
    color: aliceblue;
}

#menuinfornacional {
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
}


.icone {
    margin: 50px 0px 50px 100px;
    padding: 25px;
}


#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.textoinformativo {
    display: flex;
    align-items: center;
}

#textovideo{
    margin-top: 20px;
    font-size: 22px;
}

#titulovideo {
    color: #247ba0;
    margin-top: 50px;
    font-size: 37px;
}


#video {
    margin: 20px 25px 50px 100px;
}

#carrossel {
    background-color: #247ba0;
    padding: 50px;
}

#titulo-carrossel {
    color: white;
    text-align: center;
    font-size: 25px;
}

#div-cards {
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}   

.card {
    margin-left: 5px;
    box-shadow: 0px 15px 20px;
}

.card:hover{
    transform: translate(-15px,-7px);
    transition-duration: 1s;
    cursor:pointer;
}



#seta-esquerda {
    display:none;
}
    

#Bruna {
    display: none;
}

.seta {
    margin-top: 30%;
    cursor: pointer;

}

.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0,5s;
}

#formulario {
    text-align: center;
}

#titulo-formulario {
    font-size: 25px;
    margin: 25px;
    color: #383838;
    font-weight: bolder;
}

input {
    width: 350px;
    height:47px;
    background-color: #e8f4ff;
    margin: 22px;
    border-radius: 5px;
    padding-left: 10px;
    border: 0px;
}

button{
    background-color: #247ba0;
    height: 40px;
    width: 250px;
    color: #EAECE5;
    border: 0px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
    background-color: #318fb8;
    color: white;
    transform: translateY(-5px);
    transition-duration: 1s;
    box-shadow: 0px 15px 20px #05103075;

}



